###
### {{ ansible_managed }}
###
CODA_GREEN_VM_PURPLE_VM_URL: {{ ul_coda_hub_api_url }}
CODA_GREEN_HOSPITAL_CODE: {{ coda19_site_id }}
CODA_GREEN_SERVER_PORT: {{ ul_coda_green_port }}
#CODA_GREEN_VM_PURPLE_VM_URL: http://localhost:8080/
#CODA_GREEN_PROXY=
