<?xml version="1.0" encoding="utf-8"?>
<!--
###
### {{ ansible_managed }}
###
-->
<service>
  <short>coda19-site-api</short>
  <description>coda19-site-api</description>
  <port protocol="tcp" port="{{ coda19_site_api_port }}"/>
</service>
