<?xml version="1.0" encoding="utf-8"?>
<!--
###
### {{ ansible_managed }}
###
-->
<service>
  <short>fhirbase</short>
  <description>FHIR on PostgreSQL.</description>
  <port protocol="tcp" port="{{ ul_fhirbase_port }}"/>
</service>
