###
### {{ ansible_managed }}
###
CODA19_LEARNING_API_PORT={{ coda19_learning_api_port }}
CODA19_LEARNING_API_REDIS_HOST=localhost
CODA19_LEARNING_API_REDIS_PORT=6379
CODA19_LEARNING_API_AIDBOX_URL={{ coda19_stats_api_aidbox_url }}
CODA19_LEARNING_API_CLIENT_ID={{ coda19_learning_api_aidbox_client_id }}
CODA19_LEARNING_API_CLIENT_SECRET={{ ul_aidbox_conf_client_secret | default('') }}