###
### {{ ansible_managed }}
###
CODA19_STATS_API_PORT={{ coda19_stats_api_port }}
CODA19_STATS_API_FAKE_AIDBOX={{ coda19_stats_api_fake_aidbox }}
CODA19_STATS_API_AIDBOX_URL={{ coda19_stats_api_aidbox_url }}
CODA19_STATS_API_CLIENT_ID={{ coda19_stats_api_aidbox_client_id }}
CODA19_STATS_API_CLIENT_SECRET={{ ul_aidbox_conf_client_secret }}