###
### {{ ansible_managed }}
###
CODA19_SITE_API_SERVER_PORT={{ ul_coda19_green_site_api_port }}
CODA19_SITE_API_HUB_API_URL={{ ul_coda19_green_hub_api_url }}
CODA19_SITE_API_HOSPITAL_CODE={{ coda19_site_id }}

# TODO: manage proxy correctly
#CODA19_SITE_API_PROXY=
