# {{ ansible_managed }}

app_mode = production
instance_name = ${HOSTNAME}

[paths]
data = /var/lib/grafana
temp_data_lifetime = 24h
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins
provisioning = conf/provisioning

[server]
protocol = http
http_port = 3000
;domain = localhost
;enforce_domain = false
root_url = http://${HOSTNAME}:3000
router_logging = true

[analytics]
reporting_enabled = false
check_for_updates = false

[security]
disable_initial_admin_creation = false
admin_user = admin
admin_password = {{ ul_grafana_admin_password }}
secret_key = {{ ul_grafana_secret_key }}
disable_gravatar = true

[users]
allow_sign_up = false
allow_org_create = false
auto_assign_org = true
auto_assign_org_role = Viewer
viewers_can_edit = false
editors_can_admin = false

[auth]
disable_login_form = false
disable_signout_menu = false

[auth.anonymous]
enabled = false

[auth.basic]
enabled = true

[auth.ldap]
enabled = true
config_file = /etc/grafana/ldap.toml
allow_sign_up = true

[smtp]
enabled = true
host = smtp.ulaval.ca:25
from_address = grafana@valeria.science
from_name = Grafana - {{ env | upper }}

[log]
mode = file
level = info

[log.console]
level = info
format = console

[log.file]
level = info
format = json
log_rotate = true
max_lines = 100000
max_size_shift = 28
daily_rotate = true
max_days = 7

[alerting]
enabled = true
execute_alerts = true
