<?xml version="1.0" encoding="utf-8"?>
<!--
###
### {{ ansible_managed }}
###
-->
<service>
  <short>Orthanc</short>
  <description>Open-source, lightweight DICOM server.</description>
  <port protocol="tcp" port="8042"/>
  <port protocol="tcp" port="4242"/>
</service>
