<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>AidBox</short>
  <description>Aidbox: a powerful FHIR-server with extended features</description>
  <port protocol="tcp" port="{{ ul_aidbox_port }}"/>
</service>
