<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>MinIO</short>
  <description>High Performance, Kubernetes Native Object Storage</description>
  <port protocol="tcp" port="{{ ul_minio_server_port }}"/>
</service>
