###
### {{ ansible_managed }}
###

# The purpose of this systemd WU is to run the Ansible playbook for AidBoxDB
# at system startup without waiting after crond to be awake.

[Unit]
Description=AidBox DB (PostgreSQL w/ custom extensions)
Wants=network.target
After=network-online.target
Before=aidbox.service

[Service]
ExecStart=/usr/local/sbin/aidboxdb_podman_wrapper.sh
KillMode=none
Type=oneshot
TimeoutSec={{ ul_aidbox_wu_timeout }}

[Install]
WantedBy=multi-user.target
