[Unit]
Description=AidBox One (AidBox REST API)
Wants=network.target
After=network-online.target

[Service]
User=aidbox
Restart=on-failure
ExecStartPre=/usr/bin/rm -f /%t/aidbox/%n-pid /%t/aidbox/%n-cid
ExecStart=/usr/bin/podman run --env-file /etc/aidbox/aidboxone_vars --log-driver journald --conmon-pidfile  /%t/aidbox/%n-pid  --cidfile /%t/aidbox/%n-cid --network host -p {{ ul_aidbox_port }}:{{{ ul_aidbox_port }}} -d {{ ul_aidbox_one_image }}:{{ ul_aidbox_one_image_tag }}
ExecStop=/usr/bin/podman stop --ignore --cidfile /%t/aidbox/%n-cid -t 30
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile /%t/aidbox/%n-cid
KillMode=none
Type=forking
PIDFile=/%t/aidbox/%n-pid

[Install]
WantedBy=multi-user.target
