###
### {{ ansible_managed }}
###

## Used by AidBoxDB

# Used by the "AidboxDB" container
POSTGRES_USER={{ ul_aidbox_db_owner }}
POSTGRES_DB={{ ul_aidbox_db_name }}
POSTGRES_PASSWORD={{ ul_aidbox_db_password }}
