###
### {{ ansible_managed }}
###
# This a set of variables used when systemd calls "podman run" to spawn
# the AidBox REST service API.
# KEEP THIS FILE PRIVATE AS IT CONTAINS YOUR LICENCE KEY

{# This information is in the vault file #}
# Licensing information
AIDBOX_LICENSE_ID={{ ul_aidbox_conf_license_id }}
AIDBOX_LICENSE_KEY={{ ul_aidbox_conf_license_key }}

# Client credentials
AIDBOX_CLIENT_ID='root'
AIDBOX_CLIENT_SECRET=secret

# Admin credential
AIDBOX_ADMIN_ID=admin
AIDBOX_ADMIN_PASSWORD=secret

# The REST service listens on this port
AIDBOX_PORT={{ ul_aidbox_port }}

# Do not change, unless you know what you are doing
AIDBOX_FHIR_VERSION=3.0.1

# FHIR Database
PGPORT=5432
PGHOST=127.0.0.1
PGUSER=coda19_fihrbase
PGDATABASE=coda19_fihrbase
PGPASSWORD={{ ul_aidbox_db_password }}


{# Proxy information comes from local facts (see playbooks/misc/bootstrap.yml) #}
{% if ansible_local.coda19.site.proxy is defined %}
# Extra-parameters for the JVM.
# The licensing id/key info is checked with a host somewhere in the cloud (TLS is used => -Dhttps.proxy)
JAVA_OPTS=-Dhttps.proxyHost={{ ansible_local.coda19.site.proxy | urlsplit('hostname') }} -Dhttps.proxyPort={{ ansible_local.coda19.site.proxy | urlsplit('port') | default("3128", true) }} -Dhttp.nonProxyHosts="localhost|127.0.0.1"
{% endif %}
