###
### {{ ansible_managed }}
###

[Unit]
Description=CODA Green
Wants=network.target
After=network-online.target

[Service]
ExecStart=/usr/local/sbin/coda_green_podman_wrapper.sh
KillMode=none
Type=oneshot
TimeoutSec={{ ul_coda_green_timeout }}

[Install]
WantedBy=multi-user.target
